docker{
    enabled = true
}
process {
    withName: STAR_GENOME_GEN {
        container = 'alexdobin/star:2.6.1d'
    }
    
    withName: FASTQC {
        container = 'biocontainers/fastqc:v0.11.5'
    }
        
    withName: MULTIQC {
        container = 'multiqc/multiqc:latest'
    }
    
    withName: TRIMMOMATIC {
        container = 'quay.io/biocontainers/trimmomatic:0.39--1'
    }
    
    withName: FASTQC_TRIMMED {
        container = 'biocontainers/fastqc:v0.11.5'
    }
    withName: MULTIQC_TRIMMED {
        container = 'multiqc/multiqc:latest'
    }
    
    withName: STAR_ALIGN {
        container = 'alexdobin/star:2.6.1d'
    }

    withName: FLAGSTAT {
        container = 'biocontainers/samtools:v1.9-4-deb_cv1'
    }
    withName: HTSEQ_COUNT {
        container = 'quay.io/biocontainers/htseq:2.0.5--py310h24e864b_2'
    }
    withName: MULTIQC_COUNT {
        container = 'multiqc/multiqc:latest'
    }
    
}